.Rproj.user
.Rhistory
.RData
.Ruserdata
assignments/blastdb
assignments/data/*.f*
assignments/data/*.tab
susan-compgenome/data_raw
assignments/output/*.tab
data_raw
bigblast-01
eury_data_raw
susan-compgenome/code/*.html
code/*.html



